/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */


body#login{ background: url(../img/inicio.png) no-repeat !important; background-size: cover !important; }

#login #main{ background: none; margin-left: 0px}

#login .hero { background: none; }

input[type=text],input[type=email],input[type=site],textarea{
    text-transform: uppercase!important;
}

.clockpicker-popover {
    z-index: 999999;
}