/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */

/* AFC
.smart-form fieldset{ padding: 20px 0 0; }
.smart-form fieldset + fieldset{ border-top: none; }
#content{ padding: 10px 20px; }

*/
.smart-style-3 #header {
    background-color: #0072c6;
    /*    background-image: -moz-linear-gradient(top, #058dc7, #0873A0);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#058dc7), to(#0873A0));
        background-image: -webkit-linear-gradient(top, #058dc7, #0873A0);
        background-image: -o-linear-gradient(top, #058dc7, #0873A0);
        background-image: linear-gradient(to bottom, #058dc7, #0873A0);*/
    background-image: none;
}

.smart-style-3 .btn-header>:first-child>a, .smart-style-3 #logo-group span#activity {
    background-color: #0072c6;
    /*    background-image: -moz-linear-gradient(top, #0873A0, #06597C);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0873A0), to(#06597C));
        background-image: -webkit-linear-gradient(top, #0873A0, #06597C);
        background-image: -o-linear-gradient(top, #0873A0, #06597C);
        background-image: linear-gradient(to bottom, #0873A0, #06597C);
        border: 1px solid #61DFF0;*/
    background-image: none;

    border: 1px solid #3F95D5!important;
    border-top: 0!important;
    border-bottom: 0!important;
}

.smart-style-3 .btn-header>:first-child>a:hover, .smart-style-3 #logo-group span#activity:hover, .smart-style-3 .btn-header>:first-child>a:active, .smart-style-3 #logo-group span#activity:active {
    /*    -webkit-box-shadow: inset 1px 1px 0px #085F83,inset -1px -1px 0px #254f18;
        -moz-box-shadow: inset 1px 1px 0px #085F83,inset -1px -1px 0px #085F83;
        box-shadow: inset 1px 1px 0px #085F83,inset -1px -1px 0px #085F83;*/
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color: #0072c6;
    /*    background-image: -moz-linear-gradient(top, #07587A, #06597C);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#07587A), to(#06597C));
        background-image: -webkit-linear-gradient(top, #07587A, #06597C);
        background-image: -o-linear-gradient(top, #07587A, #06597C);
        background-image: linear-gradient(to bottom, #07587A, #06597C);*/
    background-image: none;
}
.smart-style-3 .header-search>input[type=text] {
    /*    border-color: #61DFF0;*/
    border-color: #fff;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

}

.smart-style-3 .header-search>button {
    color: #0072c6;
}

.smart-style-3 nav>ul>li>a>i{ color: #0072c6; }
.smart-style-3 nav>ul>li.open { border-left: 4px solid #0072c6; }

.smart-style-3 nav>ul>li.open > ul > li > a {padding-left: 22px;}

/* botões */

.btn-primary { color: #fff; background-color: #0072c6; border-color: #0072c6; }

/* <- botões */

/*
#logo{ margin-top: 10px; }

#login #header #logo { margin-top: 17px; }
*/

body#login{ background: url(../img/inicio.jpg) no-repeat !important; background-size: cover !important; }

#login #main{ background: none; }

#login .hero { background: none; }

.dashboard-list{ 
    padding-left: 0; 
    margin: 0 -10px; 
    overflow: hidden;
}
.dashboard-list li .rotulo-item { 
    display: block;
    margin: 20px 10px 0; 
}
.dashboard-list li{ 
    display: inline-block;
    margin: 20px 10px 0;
    text-align: center;
    width: 170px;
    float: left;
    height: 160px; 
}
.dashboard-list li .btn-circle.btn-warning
, .dashboard-menu-list li .btn-circle.btn-warning{
    background: rgb(252, 176, 38);
}
.dashboard-list li .btn-circle.btn-warning:hover
, .dashboard-menu-list li .btn-circle.btn-warning:hover{
    background: rgb(240, 156, 6);
}
/*.dashboard-list li .btn-circle:last-child{
    background-image: url(../img/circle_blue.png);
    background-size: 70px;
    background-position: -1px -1px;
}
.dashboard-list li .btn-circle:last-child:hover{
    border-width: 2px;
}*/
.dashboard-menu-list{ 
    padding-left: 0;
    float: left;
    margin: 10px 10px 0px;
}
.dashboard-menu-list li{ 
    margin: 0;
    display: inline-block;
    text-align: center;
}
.dashboard-menu-list li .btn{ 
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}
.smart-form .input input[readonly]{
    background: rgba(248,248,248,.9);
}

.label {
    white-space: normal;
}     

body#login .logo-lti{
    width: 60px; 
    float: right; 
    margin-top: 15px
}

body#login .logo-sistema{
    float: left;
    margin-right: -66px;
    width: 190px;
    margin-top: 16px;
}
body#login .nome-sistema{
    float: left;
    margin-top: 24px;
}
/*body#login #logo-group {
    float: right;
    width: 62px;
}

body#login #logo-group #logo img {
    width: 40%!important;
}

body#login #logo-group #logo {
    margin-top: 10px;
}*/

input[type=text],input[type=email],textarea{
    text-transform: uppercase!important;
}

#inicio-content{ 
    background: url(../img/PMV.png) no-repeat center bottom; 
    height: 400px;
    background-size: auto 180px;
}

#timeline-content .anotacoes-excluir{
    display:none;
}

#timeline-content .smart-timeline-list.anotacoes li:hover .anotacoes-excluir{
    display:block;
}

.coluna-acoes{
    min-width: 138px;
}

.disabilitar a{
    pointer-events: none;
    cursor: default;
    opacity: 0.5;
}

.requerido .label:before{
    content: '* ';
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.input-large-custom{
    width: 300px!important;
}

.btn-padding-custom{
    padding: 6px 12px;
}
.btn-remove-padding-custom{
    padding: 6px 14px;
}

.responsavel td{
    font-weight: bold; 
}
.membro td:first-child:before{
    content: " - ";
    padding-left: 25px;
}

.mini-table{
    max-height: 174px;
    overflow: auto;    
}

.mini-table table{    
    margin-bottom: 0px;
}

.marca {
    width: 150px;
    border-radius: 0px;
}

.imagemFundo{
    width: 268px;
    border-radius: 0px;
}

.resultText{
    margin: 6px 0px 0px;
}

.caption{
    background-color: rgba(248, 248, 248, 0.9); 
}

.btn-login-entrar{
    background-image: url('../img/smile_entrar.png');
    background-position: 68px center;
    padding-right: 50px!important;
    background-repeat: no-repeat;
}

@media (min-width: 991px) {
    .input-small{
        width: 200px!important;
    }
}

