#header, #left-panel, #ribbon{
    display: none !important;
}
#main{
    moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    -webkit-transition: none;
    transition: none;

    margin-top: 0 !important;
    margin-left: 0 !important;
}
.smart-form footer{
    display: none !important;
}